:root {
    --background-color: #f4f5fa;
    --background-color-paper: #ffffff;

    --text: #50565fde;
    --text-secondary: #3a3541ad;

    --primary-color: #6c5fbc;

    --box-shadow-color: #3a35411a;
}
