:root {
    --background-color: #f4f5fa;
    --background-color-paper: #ffffff;

    --text: #50565fde;
    --text-secondary: #3a3541ad;

    //Primary color
    --primary-color: #6c5fbc;
    --primary-color-hover: #8578e0;
    --primary-color-contrast: #f2f2f2;

    --secondary-color: #8a8d93;
    --secondary-color-hover: #b6b8be;
    --secondary-color-contrast: #f0f0f0;

    --box-shadow-color: #3a35411a;
}
